#about-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 25vh;
  background: url('../media/joshua-tree-2.png') center center;
  background-size: cover;
  background-repeat: no-repeat;
}
