/*
 * Color Scheme:
 * Orange - #E1965D
 * Dark Orange - #CF7456
 */

 html, body, #root, #app {
   min-height: 100vh;
 }

 #user-modal-trigger {
   cursor: pointer;
   color: white;
   text-decoration: underline;
 }

#header {
  background: red;
  background: linear-gradient(#E1965D, #CF7456);

  border-radius: 0;
  border-color: #CF7456;
}

#home-menu {
  position: sticky;
  z-index: 1;

  border-radius: 0;
}

#sun-icon {
  position: fixed;
  z-index: 1;

  right: 1vw;
  bottom: 1vh;

  min-width: 50px;
  width: 8vw;
  max-width: 100px;
  min-height: 50px;
  height: 8vw;
  max-height: 100px;
}

.card-dropdown {
  float: right;
}
