/*
 * Color Scheme:
 * Orange - #E1965D
 * Dark Orange - #CF7456
 */

 html, body, #root, #app {
   min-height: 100vh;
 }

 .header-link {
   color: rgba(255,255,255,.9);
   text-decoration: underline;
 }

 #user-modal-trigger {
   cursor: pointer;
   color: rgba(255,255,255,.9);
   text-decoration: underline;
 }

#header {
  background: red;
  background: linear-gradient(#E1965D, #CF7456);

  border-radius: 0;
  border-color: #CF7456;
}

#home-menu {
  position: sticky;
  z-index: 1;

  border-radius: 0;
}

#welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 25vh;
  background: url('../media/joshua-tree.png') center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sun-icon {
  position: fixed;
  z-index: 1;

  right: 1vw;
  bottom: 1vh;

  min-width: 50px;
  width: 8vw;
  max-width: 100px;
  min-height: 50px;
  height: 8vw;
  max-height: 100px;
}

.event-image {
  cursor: pointer;
}

#heart-icon {
  color: rgba(0,0,0,.5);
  cursor: pointer;
}

#heart-icon:hover {
  color: #e03997;
}

#comment-icon {
  color: rgba(0,0,0,.5);
  cursor: pointer;
}

#comment-icon:hover {
  color: #00b5ad;
}

.card-dropdown {
  float: right;
}

.post-info-footer {
  font-size: 0.8rem;
  color: rgba(0,0,0,.5);
}

.radio-container {
  white-space: nowrap;
  width: 100%;
  clear: none;
  padding: 5px 0px 15px 0px;
}

.radio {
  cursor: pointer;
}

.radio-label {
  padding-left: 10px;
}

#not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 20vh;
}
